@charset "UTF-8";
html {
  writing-mode: vertical-rl; /* 縦書き */
  -webkit-writing-mode: vertical-rl;
}

body {
  font-family: "serif", "Hiragino Mincho ProN", "MS Mincho"; /* 明朝体推奨 */
  line-height: normal;
  text-align: justify; /* 両端揃え */
  text-orientation: upright;
  -webkit-text-orientation: upright;
}

p {
  margin: 0;
  padding: 0;
}

/* 空行の高さ調整 */
p br {
  display: block;
  content: "";
  margin-top: 0.5em;
}

/* style_item の CSS文字列内に追加 */
nav ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 目次全体を右から左へ流す */
nav {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

nav, .vrtl {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    
    text-orientation: upright;
    -webkit-text-orientation: upright;
}

nav li {
    text-orientation: upright;
    -webkit-text-orientation: upright;
}
.vrtl {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    
    text-orientation: upright;
    -webkit-text-orientation: upright;
}